body, html, #root, .app, .container .homebox1 .login {
  width: 100%;
  height: 100%;
}

.inputwidth{
padding: 200px;
}

.homebox1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #292a2c;
  padding: 5%;
}

.admin{
  background-color: #292a2c;
}

.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #292a2c;
}

.container3 {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #292a2c;
  padding-left: 40%;
  padding-right: 40%;
}

.container2 {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #292a2c;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.wrapper{
  background-color: #292a2c;
  width: 100%;
  height: 100%;
}

.loginform {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.edit{
  cursor: pointer;
}

.registerform {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.login {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputf {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 6px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgb(255, 255, 255);
}

.submitButton {
  padding-right: 10px;
}

.subbtn{
	background-color:#7b7e7d;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	padding:5px 25px;
	text-decoration:none;
}

.login{
  background-color: #292a2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title{
  font-size: 4vw;
}

.Title2{
  font-size: 3vw;
}

.heading{
  font-size: 1.8vw;
}

.othertext{
  font-size: 1.2vw;
}

.othertext2{
  font-size: 0.6vw;
  color:#ffffff;
}


.imgslider{
  width: 100%;
}

.git{
  cursor: pointer;
}

.headingwhite{
  font-size: 1.8vw;
  color:#ffffff;
  align: center;
}

.othertextwhite{
  font-size: 1.2vw;
  color:#ffffff;
  text-align: center;
}

.white{
  color:#ffffff;
}

.subbtn:hover {
	background-color:#535757;
}

.particle {
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.logintitle{
  text-align: center;
  color:#ffffff;
  font-size: 40px;
  font-weight: 400;
}

#btn1{
width: 1%;
}

.infobox1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #292a2c;
  padding: 5%;
}